#### Bibliotecas

In [3]:
# pandas
import pandas as pd

df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)
df['Age']

0    22
1    35
2    58
Name: Age, dtype: int64

In [4]:
ages = pd.Series([22,35,58],name='Age')
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [ ]:
# requests

#### Funções Específicas

In [23]:
# datas no pandas
import pandas as pd
contratos = pd.read_excel('Contratos.xlsx')
emails = pd.read_excel('Emails.xlsx')
contratos['Data Pagamento'] = pd.to_datetime(contratos['Data Pagamento'],format='%d/%m/%Y')
contratos['Data Pagamento 2'] = pd.to_datetime(contratos['Data Pagamento 2'],format='%m-%d-%y')
#contratos = contratos.rename(columns={'Cliente':'Nome'})
contratos = contratos.merge(emails,left_on='Cliente',right_on='Nome')

display(contratos)
display(emails)

    Cliente Data Pagamento Data Pagamento 2      Nome               Email
0    Fulano     2022-09-22       2022-09-22    Fulano    fulano@gmail.com
1  Beltrano     2022-04-17       2022-04-17  Beltrano  beltrano@gmail.com
2   Ciclano     2022-02-21       2022-02-21   Ciclano   ciclano@gmail.com
3      Lira     2022-12-27       2022-12-27      Lira      lira@gmail.com
4     Julia     2022-02-01       2022-02-01     Julia     julia@gmail.com
5    Marcus     2022-07-08       2022-07-08    Marcus    marcus@gmail.com
6    Amanda     2022-09-28       2022-09-28    Amanda    amanda@gmail.com
7   Larissa     2022-05-28       2022-05-28   Larissa   larissa@gmail.com
8      Alon     2022-10-06       2022-10-06      Alon      alon@gmail.com

       Nome               Email
0    Fulano    fulano@gmail.com
1  Beltrano  beltrano@gmail.com
2   Ciclano   ciclano@gmail.com
3      Lira      lira@gmail.com
4     Julia     julia@gmail.com
5    Marcus    marcus@gmail.com
6    Amanda    amanda@gmail.com
7   Larissa   larissa@gmail.com
8      Alon      alon@gmail.com

In [ ]:
# funcao datetime

In [ ]:
# funcao merge do pandas

#### APIs

In [ ]:
# documentação de APIs cada uma é diferente da outra, 
# vejam o módulo de API que eu faço vários exemplos lá

# exemplo sandbox https://dadosabertos.bcb.gov.br/dataset/dinheiro-em-circulao

# exemplo documentação: https://www.alphavantage.co/