### API do Banco Central

https://dadosabertos.bcb.gov.br/dataset?res_format=API

In [14]:
import requests
import pandas as pd
import json
import pprint


link = r"https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=100000&$orderby=Data%20desc&$format=json"

site = requests.get(link)

retorno = site.json()

data = pd.DataFrame(retorno['value'])

#pprint.pprint(retorno)
#retorno['value']
data

             Data  Quantidade         Valor Denominacao  Especie
0      2024-08-16  3191004917  3.191005e+07        0.01   Moedas
1      2024-08-16  8004311018  4.002156e+08        0.05   Moedas
2      2024-08-16  8179366722  8.179367e+08        0.10   Moedas
3      2024-08-16  3685756628  9.214392e+08        0.25   Moedas
4      2024-08-16  3717636549  1.858818e+09        0.50   Moedas
...           ...         ...           ...         ...      ...
94738  1994-10-03   181609358  1.816094e+08        1.00   Moedas
94739  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
94740  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
94741  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
94742  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[94743 rows x 5 columns]

In [19]:
link = r"https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=1000&$skip=99999&$orderby=Data%20desc&$format=json"

site = requests.get(link)

retorno = site.json()

#data = pd.DataFrame(retorno['value'])

#pprint.pprint(retorno)
#retorno['value']
print(retorno['value'])

[]

In [24]:
tabela_final = pd.DataFrame()
pular_indice = 0
while True:
    
    link = fr"https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=10000&$skip={pular_indice}&$orderby=Data%20desc&$format=json"
    requisicao = requests.get(link)
    info = requisicao.json()
    tabela = pd.DataFrame(info['value'])
    if len(info['value'])<1:
        break
    tabela_final = pd.concat([tabela_final,tabela])
    pular_indice+=10000

tabela_final

            Data  Quantidade         Valor Denominacao  Especie
0     2024-08-16  3191004917  3.191005e+07        0.01   Moedas
1     2024-08-16  8004311018  4.002156e+08        0.05   Moedas
2     2024-08-16  8179366722  8.179367e+08        0.10   Moedas
3     2024-08-16  3685756628  9.214392e+08        0.25   Moedas
4     2024-08-16  3717636549  1.858818e+09        0.50   Moedas
...          ...         ...           ...         ...      ...
4738  1994-10-03   181609358  1.816094e+08        1.00   Moedas
4739  1994-10-03   252922174  1.264611e+09        5.00  Cédulas
4740  1994-10-03   273630983  2.736310e+09       10.00  Cédulas
4741  1994-10-03    28945486  1.447274e+09       50.00  Cédulas
4742  1994-10-03     2841789  2.841789e+08      100.00  Cédulas

[94743 rows x 5 columns]