# Exercício - Mini Projeto de Análise de Dados

Vamos fazer um exercício completo de pandas para um miniprojeto de análise de dados.

Esse exercício vai obrigar a gente a usar boa parte dos conhecimento de pandas e até de outros módulos que já aprendemos ao longo do curso.

### O que temos?

Temos os dados de 2019 de uma empresa de prestação de serviços. 

- CadastroFuncionarios
- CadastroClientes
- BaseServiçosPrestados

Obs1: Para ler arquivos csv, temos o read_csv<br>
Obs2: Para ler arquivos xlsx (arquivos em excel normais, que não são padrão csv), temos o read_excel

### O que queremos saber/fazer?

1. Valor Total da Folha Salarial -> Qual foi o gasto total com salários de funcionários pela empresa? <br>
    Sugestão: calcule o salário total de cada funcionário, salário + benefícios + impostos, depois some todos os salários
    
    
2. Qual foi o faturamento da empresa?<br>
    Sugestão: calcule o faturamento total de cada serviço e depois some o faturamento de todos
    
    
3. Qual o % de funcionários que já fechou algum contrato?<br>
    Sugestão: na base de serviços temos o funcionário que fechou cada serviço. Mas nem todos os funcionários que a empresa tem já fecharam algum serviço.<br>
    . Na base de funcionários temos uma lista com todos os funcionários<br>
    . Queremos calcular Qtde_Funcionarios_Fecharam_Serviço / Qtde_Funcionários_Totais<br>
    . Para calcular a qtde de funcionários que fecharam algum serviço, use a base de serviços e conte quantos funcionários tem ali. Mas lembre-se, cada funcionário só pode ser contado uma única vez.<br><br>
    Dica: se você aplicar o método .unique() em uma variável que é apenas 1 coluna de um dataframe, ele vai excluir todos os valores duplicados daquela coluna.<br>
    Ex: unicos_colunaA = dataframe['colunaA'].unique() te dá como resposta uma lista com todos os itens da colunaA aparecendo uma única vez. Todos os valores repetidos da colunaA são excluidos da variável unicos_colunaA 
    
    
4. Calcule o total de contratos que cada área da empresa já fechou


5. Calcule o total de funcionários por área


6. Qual o ticket médio mensal (faturamento médio mensal) dos contratos?<br>
    Dica: .mean() calcula a média -> exemplo: media_colunaA = dataframe['colunaA'].mean()

Obs: Lembrando as opções mais usuais de encoding:<br>
encoding='latin1', encoding='ISO-8859-1', encoding='utf-8' ou então encoding='cp1252'

Observação Importante: Se o seu código der um erro na hora de importar os arquivos:<br>
- CadastroClientes.csv
- CadastroFuncionarios.csv

Use separador ";" (ponto e vírgula) para resolver

In [2]:
import pandas as pd
clientes_df = pd.read_csv('CadastroClientes.csv',sep=';')
clientes_df.head()
funcionarios_df = pd.read_csv('CadastroFuncionarios.csv',sep=';',decimal=',')
funcionarios_df.head()
servicos_df = pd.read_excel('BaseServiçosPrestados.xlsx')
servicos_df.head()

servicos_df = servicos_df.merge(funcionarios_df,on='ID Funcionário')
servicos_df = servicos_df.merge(clientes_df,on='ID Cliente')
servicos_df.head()

,Codigo do Servico,ID Funcionário,ID Cliente,Tempo Total de Contrato (Meses),Estado Civil,Nome Completo,Salario Base,Impostos,Beneficios,VT,VR,Cargo,Area,Cliente,Valor Contrato Mensal
0,OS0001,67,1,14,C,Carla Amiccuci Areias,12054,6027.0,2410.8,308,829.92,Coordenador,Financeiro,Teixeira Gonçalves,540
1,OS0002,17,2,12,S,Pedro Carrera,15718,7859.0,3143.6,176,628.32,Coordenador,Logística,Souza Santos,1260
2,OS0003,116,4,14,C,Bruno Cunha Felippe,21154,10577.0,4230.8,198,792.96,Analista,Logística,Santos Costa,2520
3,OS0004,37,5,8,C,Marcos Almeida Albuquerque Faria,3398,1699.0,679.6,242,540.96,Analista,Financeiro,Do Monteiro,3510
4,OS0005,130,6,8,S,Mylena Pinheiro Mariano,5818,2909.0,1163.6,242,598.08,Coordenador,Comercial,Soares Lobo,2340

In [4]:
#Valor Total da Folha Salarial -> Qual foi o gasto total com salários de funcionários pela empresa? <br>
#Sugestão: calcule o salário total de cada funcionário, salário + benefícios + impostos, depois some todos os salários

#funcionarios_df['Salario Total'] = funcionarios_df['Salario Base'] + funcionarios_df['Beneficios']  + funcionarios_df['Impostos']


print(funcionarios_df['Salario Total'].sum())

2614343.3

In [7]:
#Qual foi o faturamento da empresa?<br>
#Sugestão: calcule o faturamento total de cada serviço e depois some o faturamento de todos
servicos_df['Faturamento Total'] = servicos_df['Tempo Total de Contrato (Meses)']*servicos_df['Valor Contrato Mensal']
print('Faturamento Total: R${:,}'.format(sum(servicos_df['Faturamento Total'])))

Faturamento Total: R$5,519,160

In [22]:
#3. Qual o % de funcionários que já fechou algum contrato?

fun_cServico = len(servicos_df['ID Funcionário'].unique())
fun_total =len(funcionarios_df['ID Funcionário'].unique())

print(f'Percentual que fechou foi de: {fun_cServico/fun_total:.1%}')

Percentual que fechou foi de: 86.8%

In [33]:

print(servicos_df['Area'].value_counts())

Area
Administrativo    63
Operações         48
Comercial         44
Financeiro        42
Logística         40
Name: count, dtype: int64

In [34]:
print(funcionarios_df['Area'].value_counts())

Area
Administrativo    26
Comercial         26
Operações         23
Logística         21
Financeiro        18
Name: count, dtype: int64

In [38]:
media = clientes_df['Valor Contrato Mensal'].mean()

print(media)

2502.5625